{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "@effector/babel-plugin",
      {
        "storeCreators": [
          "createStore",
          "createUniversalStore"
        ]
      }
    ],
    ["styled-components", { "ssr": true }]
  ],
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-styled-components"
      ]
    }
  }
}
